@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Rubik:400,500);

$font-main: 'Rubik', sans-serif;
$font-headers: 'Montserrat', sans-serif;  
$grey-lite: #ccc;
$red-lite: #e74c3c; 

body {
	background-color: $grey-lite;
	font-family: $font-main;
	margin: 0;
}


h1,
h2 {
	font-family: $font-headers;
}

main.container {
	background-color: white;
	max-width: 700px;
	margin: 0 auto;
	padding: 30px;
}

header {
	background-image: url(http://assets.teamrock.com/image/3ea54ffa-28f6-4bfc-8d3e-c5018a25d120?w=800.jpeg);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 0 60px;
	padding: 30px;
}

.shadow {
	color: white;
	text-align: center;
	text-shadow: 2px 2px 8px #000;
}

header {
	h1 {
	@extend .shadow;
	font-size: 48px;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 2px 8px #ff0000;
	}
	p {
	@extend .shadow;
	font-size: 26px;
	}
}

section {
	padding: 0 20%;
	h2 {
	color: $red-lite;
	font-size: 28px;
	margin: 40px 0 0;
	}
	.chorus { 
		h2 {
		color: red;
		display: flex;
		}
	}
}

footer {
	background-color: grey;
	margin: 60px 0 0;
	padding: 30px;
	p {
	color: white;
	text-align: center;
	}
	a {
	color: white;
	font-weight: 500;
	text-decoration: none;
	}
}