@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Rubik:400,500);

body {
	margin: 0;
	background-color: #CCC;
	font-family: 'Rubik', sans-serif;
}


h1, h2 {
	font-family: 'Montserrat', sans-serif;
}


.container {
	max-width: 700px;
	margin: 0 auto;
	background-color: #fff;
	padding: 30px;
}

header {
	padding: 30px;
	background-image: url(http://assets.teamrock.com/image/3ea54ffa-28f6-4bfc-8d3e-c5018a25d120?w=800.jpeg);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 0 60px;
}

header p, header h1 {
	text-align: center;
	color: white;
	text-shadow: 2px 2px 8px #000;
}

header p {
	font-size: 26px;
}

header h1 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 48px;
	text-shadow: 2px 2px 8px #ff0000;
}

section {
	padding: 0 20%;
}

section h2 {
	font-size: 28px;
	color: #e74c3c;
	margin: 40px 0 0;
}

section.chorus h2 {
	color: red;
}

footer {
	margin: 60px 0 0;
	padding: 30px;
	background-color: grey;
}

footer p {
	text-align: center;
	color: white;
}

footer a {
	text-decoration: none;
	font-weight: 500;
	color: white;
}

